@model HotelReservationsManagement.ViewModels.Reservations.EditVM
@using HotelReservationsManagement.ExtentionMethods;

@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "EDIT RESERVATION";
}

<div class="grid">
    @if (loggedUser.Id == 1 || loggedUser.Id==@Model.Id)
    {
    <div class="content-card">
        <h4>Редактирай Резервация</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="DateArrive" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="DateArrive" class="form-control" />
                    <span asp-validation-for="DateArrive" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DateDepart" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="DateDepart" class="form-control" />
                    <span asp-validation-for="DateDepart" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasBreakfast" /> @Html.DisplayNameFor(model => model.HasBreakfast)
                </label>
                <br />
                <small><strong>Забележка:</strong> Допълнителна цена за закуска: 20лв</small>
            </div>
            <div class="form-group row form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAllInclusive" /> @Html.DisplayNameFor(model => model.IsAllInclusive)
                </label>
                <br />
                <small><strong>Забележка:</strong> Допълнителна цена за AllInclusive: 60лв</small>
            </div>
            <div class="form-group row">
				<label asp-for="ClientFirstName" class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<input asp-for="ClientFirstName" class="form-control" />
					<span asp-validation-for="ClientFirstName" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label asp-for="ClientLastName" class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<input asp-for="ClientLastName" class="form-control" />
					<span asp-validation-for="ClientLastName" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label asp-for="ClientPhone" class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<input asp-for="ClientPhone" class="form-control" />
					<span asp-validation-for="ClientPhone" class="text-danger"></span>
				</div>
			</div>
            <div class="form-group row">
				<label asp-for="RoomNumber" class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<input asp-for="RoomNumber" class="form-control" />
					<span asp-validation-for="RoomNumber" class="text-danger"></span>
				</div>
			</div>
                
            <div class="form-group row">
				<label asp-for="NumberChildren" class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<input asp-for="NumberChildren" class="form-control" />
					<span asp-validation-for="NumberChildren" class="text-danger"></span>
				</div>
			</div>
            <div class="col-sm-12 form-group row form-check mb-3 mt-3">
                <input type="submit" value="Запази" class="btn btn-primary" />
            </div>
            <div class="col-sm-12 form-group row form-check">
                <a asp-action="Index">Отмени</a>
            </div>
        </form>
    </div>
    }
    else
    {
        <div class="content">
            <p>Вие нямате достъп до това действие!</p>
        </div>
    }
</div>


