@using HotelReservationsManagement.Models;
@using HotelReservationsManagement.ExtentionMethods;
@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleLogin.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
        crossorigin="anonymous" />
    <title>@ViewData["title"]</title>
</head>
<body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="/Home/Index">Управление на хотелски резервации</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" href="/Home/Index">Начало<span class="sr-only">(current)</span></a>
                 @if (loggedUser != null)
                {
				    <a class="nav-link" href="/Users/Index">Потребители</a>
				    <a class="nav-link" href="/Reservations/Index">Резервации</a>
                    <a class="nav-link" href="/Clients/Index">Клиенти</a>
                    <a class="nav-link" href="/Rooms/Index">Стаи</a>
                    <a class="nav-link" href="/Home/Logout">Изход</a>
                }
                else
                {
                    <a class="nav-link" href="/Home/Login">Вход</a>
                }
            </div>
		</div>
	</nav>
    <div class="container-content">
        @RenderBody()
    </div>
    <footer class="card-footer align-content-center">
		  <span class="footer-text">Управление на хотелски резервации</span>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
		crossorigin="anonymous"></script>
</body>
</html>